$point_0: 1440px;
$point_1: 1200px;
$point_2: 1024px;
$point_3: 1023px;
$point_4: 768px;
$point_5: 640px;
$point_6: 480px;
$point_7: 375px;
$point_8: 320px;

$page_width: 192rem;

$white: #fff;
$black: #000;
$dark-blue: #090D31;
$dark-blue-modal-bg: #25296D;
$dark-blue-modal-sector-bg: #2C3076;
$dark-blue-input-bg: #1a1e5d;
$blue-input-text: #5A5EA6;
$blue-light-text: #BCBFF1;
$dark-blue-border: #313790;
$blue-bg: #484c92;
$color_text_base: $white;
$body_bg: $dark-blue;
$linear: linear-gradient(180deg, rgb(54, 88, 247), rgb(85, 65, 194) 100%);
$lrose: linear-gradient(180deg, #F18D72 0%, #C744A3 100%);
;
$blue: #387be6;
$light: #9bc8ff;
$rose: #b24892;
$header: 17.7rem;
$footer: 11.3rem;


$font_path: "@/assets/fonts/";

$font_1: "Exo2-Light";
$font_2: "Exo2-Regular";
$font_3: "Exo2-Medium";
$font_4: "Exo2-SemiBold";
$font_5: "Exo2-Bold";
$font_6: "Exo2-Black";

$font_size_base: 1.6rem;

.container {
  max-width: $page_width;
  padding: 0 2rem;
  margin: 0 auto;
  @media (max-width: 1024px) {
    padding: 0 4.5rem;
  }
  @media (max-width: 480px) {
    padding: 0 10px;
  }
}

$sell: linear-gradient(180deg, #E171E3 0%, #8332ED 100%);
$out: linear-gradient(180deg, #F18D72 0%, #C744A3 100%);
$button-gradient-blu-button: linear-gradient(180deg, #3270FB 0%, #573DC0 100%);
$button-gradient-blu: linear-gradient(180deg, rgba(56, 86, 243, 0.7) 0%, rgba(81, 68, 201, 0.7) 100%);
$button-gradient-blu-light: linear-gradient(180deg, #3658F7 0%, #5541C2 100%);
