@import "mixins";
@import "reset";
@import "variables";
@import "fonts";


.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 145rem;
    margin-top: 8.5rem;
    margin-bottom: 8.3rem;
}
.wrapper-small {
  width: 128rem;
  margin-top: 8.5rem;
  margin-bottom: 8.3rem;
  margin-left: auto;
  margin-right: auto;
}
.button {
  background: linear-gradient(180deg, #F18C75 0%, #C947A2 100%);
  color: #fff;
  font-family: "Exo2-Medium";
  font-size: 1.6rem;
  line-height: 1.7rem;
  text-transform: uppercase;
  padding: 1.45rem 1.9rem 1.55rem 1.9rem;
  border-radius: 1.5rem;
  cursor: pointer;
  position: relative;
  z-index: 1 !important;
}

.but-sell {
  display: block;
  background: $sell;
  color: #fff;
  width: 14.3rem;
  height: 3.6rem;
  font-family: "Exo2-bold";
  text-transform: uppercase;
  margin-right: auto;
  font-size: 1.4rem;
  margin-left: auto;
  border-radius: 1rem;
  cursor: pointer;
}
.but-out {
  display: block;
  background: $out;
  width: 14.3rem;
  height: 3.6rem;
  font-size: 1.4rem;
  color: #fff;
  font-family: "Exo2-bold";
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;
  border-radius: 1rem;
  cursor: pointer;
}

input::placeholder {
  color: #8E93E1
}

input {
  font-size: 1.6rem;
  background: #1B1F5E;
  border: none;
  padding: 2rem 2rem 2rem 2.6rem;
  color: #fff;
  border-radius: 1rem;
  font-family: "Exo2-medium";
}
.input-cost {
  position: relative;
}
.input-cost:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background:url("/public/assets/img/profile/money.svg");
  width: 2rem;
  height: 2rem;
  z-index: 1;
}
.label-policy {
  position: relative;
  display: flex;
  align-items: center;
}
.label-policy span {
  display: inline-block;
  width: 2.8rem;
  height: 1.8rem;
  background: #49386B;
  border-radius: 5rem;
  position: relative;
  margin-right: 1rem;
}
.label-policy input {
  display: none;
}
.label-policy input + span:after {
  position: absolute;
  content: '';
  width: 1rem;
  height: 1rem;
  top: 0.4rem;
  left: 0.4rem;
  border-radius: 50%;
  transition: left .3s ease-in-out;
  background: linear-gradient(180deg, #F18D74 0%, #CB4B9E 100%);
}
.label-policy input:checked + span:after {
  left: 1.4rem
}
